<!DOCTYPE html>
<html>
<head>
    <title>TEST</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>ORDERS</h1>
<div class="container">
    <h2>Database Results getting Orders </h2>
    <ul>
        <% results.forEach(function(r) { %>
        <li><%= r.CUSTOMER_ID %></li>
        <% }); %>
    </ul>
</div>
</body>
</html>