<!DOCTYPE html>
<html>
  <head>
    <title>GAP</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= status1 %></h1>



      <p>THANK YOU FOR YOUR SUBMITTED ORDER</p>

  </body>
</html>
